{% extends 'index.html' %}
{% block body %}


<div class="row">
      
    <div class="container">
        <h1>Listado de productos</h1>
        <div class="table-reponsive" >
            <table class="table table-striped" >
                <thead class="table-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Detalle</th>
                        <th>Bodega</th>
                        <th>Detalle Bodega</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stockProductos %}
                    <tr>
                        <td>{{stock.id_producto}}</td>
                        <td>{{stock.nombre_producto}}</td>
                        <td>{{stock.id_bodega}}</td>
                        <td>{{stock.nombre_bodega}}</td>
                        <td>{{stock.stock_producto_bodega}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="mb-3">
                <a href="{% url 'ingresar-stock' %}" class="button"><button type="button" class="btn btn-primary">Ingresar Stock</button></a>
            </div>
        </div>
        
    </div> 
</div>
{% endblock %}

<script></script>